html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, "Microsoft JhengHei", sans-serif;
  background: #f9f9f9;
  color: #222;
  margin: 0;
  padding: 0;
}
.mobile-br {
  display: none;
}
.container {
  background: #fff;
  max-width: 830px;
  margin: 20px auto;
  padding: 10px 18px 20px 18px;
  border-radius: 14px;
  box-shadow: 0 2px 14px rgba(0,0,0,0.08);
  position: relative;
}
h2 {
  color: #006699;
  text-align: center;
  font-size: 1.45rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}
.section-title {
  margin-top: 1.6rem;
  color: #006699;
  font-size: 1.09rem;
  border-left: 4px solid #8dc2e6;
  padding: 9px;
  font-weight: bold;
  background: #edf8fd;
  margin-bottom: 0.3rem;
}
table {
  width: 100%;
  border-collapse: collapse;
  background: #f6fbff;
  margin-bottom: 1rem;
  font-size: 1rem;
}
th, td {
  border: 1px solid #cde2f2;
  padding: 10px 5px;
  text-align: center;
}
th {
  background: #daf0fc;
  color: #003e5d;
  font-weight: bold;
}
ul {
  list-style: none;
  padding-left: 1.2rem;
  margin: 0.5rem 0 0.7rem 0;
}
li {
  text-align: left;
  line-height: 1.7;
  margin: 0.1rem 0;
}
.highlight {
  color: #db1f33;
  font-weight: bold;
}
.green {
  color: #388e3c;
  font-weight: bold;
}
.tips {
  background: #eaf6ff;
  border-left: 4px solid #90caf9;
  padding: 10px 18px;
  margin-top: 1.5rem;
  font-size: 1rem;
}
.icon {
  font-size: 1.6rem;
  margin-right: 4px;
  vertical-align: middle;
}
.img-icon {
  vertical-align: middle;
  margin: 5px 0;
  margin-right: 5px;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  display: inline-block;
}
.tick-icon {
  vertical-align: text-top;
  margin-right: 4px;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  display: inline-block;
}
.top-nav a {
  color: #1976d2;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.4rem 0.7rem;
  border-radius: 2rem;
  transition: background 0.2s;
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 999;
  box-shadow: 0 0px 14px rgba(0,0,0,0.2);
}
.top-nav a:hover {
  background: #e3f2fd;
  color: #0d47a1;
}
@media (max-width: 600px) {
  .container {
    padding: 8px 2vw 12px 2vw;
    margin: 10px 5px;
  }
  table, th, td {
    font-size: 0.96rem;
    padding: 7px 2px;
  }
  h2 {
    font-size: 1.2rem;
  }
  .section-title {
    font-size: 1rem;
  }
  .icon {
    font-size: 1.2rem;
  }
  .img-icon {
    width: 1.3rem;
    height: 1.3rem;
  }
  .rain-icon {
    width: 1.6rem;
    height: 1.6rem;
  }
  .top-nav a {
    font-size: 0.7rem;
    padding: 0.3rem 0.4rem;
  }
  .mobile-br {
    display: block;
    height: 0;
  }
}