* {
  box-sizing: border-box;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  tap-highlight-color: transparent !important;
  -webkit-tap-highlight-color: transparent !important;
}
body {
  width: 100svw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 5px;
}